<%- include ('partials/header.ejs') %>
<body>
  <%- include ('partials/navbar.ejs') %>
  
  <div class="container">
    <br>
    <h3>Cadastro</h3>
    <br>
    <a href="/sucess" class="btn btn-success">Salvar</a>
    <hr>
  </div>
  
</body>
<%- include ('partials/footer.ejs') %>
