<%- include ('partials/header.ejs') %>
<body>
  <%- include ('partials/navbar.ejs') %>
  
  <div class="container">
    <br>
    <h3>Cadastro</h3>
    <br>
    <form action="registro">
      <label for="">Nome</label>
      <input type="text" name="Nome">
      <br>
      <input type="date" name="Nascimento">
      <input type="text" name= "RG">
      <br>
      <input type="text" name="Endereço">
      <input type="text" name="email">
      <br>
      <input type="text" name="Usuario">
      <input type="password" name="Senha">
      <input type="submit" name="Salvar">
    </form>
    <a href="/sucess" class="btn btn-success">Salvar</a>
    <hr>
  </div>
  
</body>
<%- include ('partials/footer.ejs') %>
