<%- include ('partials/header.ejs') %>
<body>
  <%- include ('partials/navbar.ejs') %>
    <h3>chat greener</h3>
    <div id="chat">
    </div>
    <input type="text" name="" id="msg">
    <input type="text" name="" id="username" placeholder="nome do usuário">
    <button onclick="enviar()">Enviar</button>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.2.0/socket.io.js"></script>
    <script>
      var socket = io('http://localhost:4000')
      socket.on("showmsg", (data) => {
        console.log(data)
        var chat = document.getElementById("chat")
        var p = document.createElement("p")
        p.innerHTML = `${data.username}: ${data.msg}`
        chat.append(p)
      })
      function enviar() {
        var msgField = document.getElementById("msg")
        var usernameField = document.getElementById("username")
        var msg = msgField.value
        var username = usernameField.value
        socket.emit("msg", { msg: msg, username: username })
      }
    </script>
</body>
<%- include ('partials/footer.ejs') %>