<%- include ('partials/header.ejs') %>
  <title>Home</title>
</head>
<body>
  <%- include ('partials/navbar.ejs') %>

  <h2>Gráfico</h2>
  <hr>

  <h3><%= login %>, veja!</h3>
    <br>
    <div>

    </div>
</body>
<%- include ('partials/footer.ejs') %>