<%- include ('partials/header.ejs') %>
  <title>Home</title>
</head>
<body>
  <%- include ('partials/navbar.ejs') %>
  <h2>Seja bem vindo ao Grenner</h2>
   <div class="card">
    <h3>Quem somos</h3>
    <hr>
    <p>
      conteudo
    </p>
    <h3>Nossa missão</h3>
    <hr>
    <p>
      conteudo
    </p>
    <h3>Nossos valores</h3>
    <hr>
    <p>
      conteudo
    </p>
   </div>
   <div>
     <label for="">Faça o login para poder utilizar nossos serviços:</label>
     <a href="/login"><button>Login</button></a>
   </div>
</body>
<%- include ('partials/footer.ejs') %>