<%- include ('partials/header.ejs') %>
<body>
  <%- include ('partials/navbar.ejs') %>
  
  <div class="container">
    <br>
    <h3>User</h3>
    <br>
    <a href="/home" class="btn btn-success">Button configs</a>
    <hr>
  </div>
  
</body>
<%- include ('partials/footer.ejs') %>
