<%- include ('partials/header.ejs') %>
<body>
  <%- include ('partials/navbar.ejs') %>
  
  <div class="container">
    <br>
    <h3>Login</h3>
    <br>
    <a href="/cadastro" class="btn btn-success">Cadastre-se</a>
    <a href="/login" class="btn btn-success">Login</a>
    <hr>
  </div>
  
</body>
<%- include ('partials/footer.ejs') %>
